/* リセットCSS */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* ここまでリセットCSS */

$background-white: white;
$background-green: #2DA864;

main {
    background-color: $background-green;
    color: black;
    text-align: center;

    .frame {
        background-color: $background-green;
        margin: 5%;
        padding: 5%;
    }
}

.navi {
    
    &-menu {
        display: flex;

        .btn {
            display: flex;
            justify-content: space-around;
            width: 150px;
            margin: 2%;
            padding: 3%;
            border-radius: 10px;
            background-color: yellow;
        }
    }
}