/* リセットCSS */
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* ここまでリセットCSS */

$background-white: white;
$background-green: #2DA864;

main {
    background-color: $background-green;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

    .frame {
        background-color: $background-white;
        margin: 5%;
        padding: 5%;
        border-radius: 15px;
    }
}

.navi {

    &-menu {
        display: flex;
        justify-content: space-around;

        .btn {
            display: flex;
            justify-content: space-around;
            width: 150px;
            margin: 2%;
            border-radius: 15px;
            font-weight: bold;
            background-color: yellow;
            border: 2px solid green;
            
            

            :hover {
                color: yellow;
                background-color: green;
            }

            a {
                color: black;
                width: 150px;
                padding: 15%;
                border-radius: 15px;
                font-size: 15px;

            }


        }
    }
}